@page
@model _123.DetailsModel

<div>
    <h4>TableUserViewModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TableUserViewModel.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TableUserViewModel.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TableUserViewModel.RegistrationDateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TableUserViewModel.RegistrationDateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TableUserViewModel.LastLoginDateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TableUserViewModel.LastLoginDateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TableUserViewModel.IsEnabled)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TableUserViewModel.IsEnabled)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.TableUserViewModel.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
